body, html{
    margin:0;
    font-family: sans-serif;
    background: url('/static/img2.jpg') no-repeat center fixed;
}

.content{
    margin: 0 auto;
    width: 400px;
    color: white;
}

.txt{
    margin: 0 auto;
    width: 400px;
    height: 60px;
    align-self: center;
}

table, td, th{
    border: 3px solid white;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    height: 30px;
}

td{
    text-align: center;
    padding: 5px;
}

.form{
    margin-top: 20px;

}

#content{
    width: 70%;
    color: white;
}

input[type="text"]{
    display:block;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

input[type="submit"]{
    border-width: 3px;
    width: 20%;
    height: 20%;
    border: none;
    float: right;
}